@font-face {
  font-family: "iconfont"; /* Project id 3789408 */
  src: url('iconfont.woff2?t=1669218976592') format('woff2'),
       url('iconfont.woff?t=1669218976592') format('woff'),
       url('iconfont.ttf?t=1669218976592') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-haoyourenzheng:before {
  content: "\100cf";
}

.icon-gaishuai:before {
  content: "\100d0";
}

.icon-renzheng:before {
  content: "\100d1";
}

